-const colsArray=[{width:21, style:{width: '16pt'}}, {width:63, style:{width: '47pt'}}, {width:56, style:{width: '42pt'}}, {width:47, style:{width: '35pt'}}, {width:52, style:{width: '39pt'}}, {width:80, style:{width: '60pt'}}, {width:68, style:{width: '51pt'}}, {width:69, style:{width: '52pt'}}, {width:68, style:{width: '51pt'}}, {width:69, style:{width: '52pt'}}, {width:69, style:{width: '52pt'}}, {width:68, style:{width: '51pt'}}, {width:69, style:{width: '52pt'}}, {width:73, style:{width: '55pt'}}];
-const colsArray2=[{width:68, style:{width: '51pt'}}, {width:80, style:{width: '60pt'}}, {width:68, style:{width: '51pt'}}, {width:69, style:{width: '52pt'}}, {width:68, style:{width: '51pt'}}, {width:57, style:{width: '43pt'}}, {width:69, style:{width: '52pt'}}, {width:68, style:{width: '51pt'}}, {width:59, style:{width: '44pt'}}, {width:69, style:{width: '52pt'}}, {width:79, style:{width: '59pt'}}, {width:125, style:{width: '94pt'}}];
-const dataMatrix=[[0,0,0,0,0,0,0,0,0,0,0,0,0], [0,0,0,0,0,0,0,0,0,0,0,0,0]]
-const dataMatrix2=[[0,0,0,0,0,0,0,0,0,0,0], [0,0,0,0,0,0,0,0,0,0,0]]

mixin colGroup(colsArray=[])
    colgroup
        each val in colsArray
            col(width=val.width, style=val.style)
        else
            col

mixin enumerate(colsArray=[],count=1)
    each val, index in colsArray
        if !index
            td.xl-67(height=17 style="height:12.75pt; border-top:none")= `(${count})`
        else
            td.xl-68(style="border-top:none; border-left:none")= `(${count})`
        -count++
    else
        td There are no values

mixin setData(dataMatrix=[[]])
    each val, index in dataMatrix
        tr(height=17 style={height:'12.75pt'})
            td.xl-69(height=17 style="height:12.75pt;border-top:none")= (index+1)
            each val2 in val
                td.xl-69(style="border-top:none;border-left:none")= val2
            else
                td There are no values
    else
        td There are no values

doctype html
html(
  xmlns:v="urn:schemas-microsoft-com:vml" 
  xmlns:o="urn:schemas-microsoft-com:office:office" 
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  lang="es"
)
  head
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
    title #{title}
    include _styles

    style.
      table {
        border-collapse: collapse;
        table-layout: fixed;
        width: 655pt;
      }

      * {
        font-size: 8.5pt !important;
      }

      .text-center {
        text-align: center !important;
      }

      .text-vertical{
        text-align: right;
        vertical-align: bottom;
      }

  body(link="blue" vlink="purple")
    table.page-one(role='presentation' border='0' cellpadding='0' cellspacing='0' width="872")
        +colGroup(colsArray)
        tbody
            tr(height=17 style={height:'12.75pt'})
                td.xl-78(colspan=2 height=17 width=84 style="border-bottom: .5pt solid black; height: 12.75pt; width: 63pt")
                    font.font-8 ENERO
                td.xl-80(colspan=12 width=788 style="border-top:.5pt solid black; border-left:none; width:592pt")
                    font.font-9 GASTOS DE OPERACIONES
            tr(height=17 style={height:'12.75pt'})
                td.xl-80(colspan=13 height=17 width=799 style="border-right:.5pt solid black; height: 12.75pt; width:600pt")
                    font.font-9 SUBCUENTAS
                td.xl-83.text-center(rowspan=3 width=73 style="border-bottom:.5pt solid black; border-top:none; padding-left: 1px; width:55pt")
                    font.font-8 TOTAL DE GASTOS AUTORIZADOS POSIBLES A DEDUCIR
            tr(height=17 style={height:'12.75pt'})
                td.xl-86.text-center(colspan=13 height=17 width=799 style="border-right:.5pt solid black; height: 12.75pt; width:600pt")
                    font.font-8 POSIBLES A DEDUCIR DENTRO DE LOS LIMITES DE GASTOS ESTABLECIDOS
            tr(height=152 style={height:'114.0pt'})
                td.xl-65.text-vertical(height=152 width=21 style="height:114.0pt;border-top:none; width:16pt")
                    font.font-8 Dia
                td.xl-66(width=63 style="border-top:none;border-left:none; width:47pt")
                    font.font-8 Materias primas y materiales
                td.xl-66(width=56 style="border-top:none;border-left:none; width:47pt")
                    font.font-8 Mercancias para la venta
                td.xl-66(width=47 style="border-top:none;border-left:none; width:47pt")
                    font.font-8 Combust ibles
                td.xl-66(width=52 style="border-top:none;border-left:none; width:47pt")
                    font.font-8 Energia electrica
                td.xl-66(width=80 style="border-top:none;border-left:none; width:47pt")
                    font.font-8 Remuneraciones al personal contratado
                td.xl-66(width=68 style="border-top:none;border-left:none; width:47pt")
                    font.font-8 Teneduria de libros
                td.xl-66(width=69 style="border-top:none;border-left:none; width:47pt")
                    font.font-8 Aceites y lubricantes
                td.xl-66(width=68 style="border-top:none;border-left:none; width:47pt")
                    font.font-8 Neumaticos
                td.xl-66(width=69 style="border-top:none;border-left:none; width:47pt")
                    font.font-8 Parqueos y Garaje
                td.xl-66(width=69 style="border-top:none;border-left:none; width:47pt")
                    font.font-8 Fregado
                td.xl-66(width=68 style="border-top:none;border-left:none; width:47pt")
                    font.font-8 Derecho a servicios de agencia
                td.xl-66(width=69 style="border-top:none;border-left:none; width:47pt")
                    font.font-8 Otros gastos monetarios
            tr(height=17 style={height:'12.75pt'})
                +enumerate(colsArray)
            +setData(dataMatrix)

    //-/////////////////////////////////////////////////////////////////////////////////////-//
   
    table.page-next(role='presentation' border='0' cellpadding='0' cellspacing='0' width="879" style={width:"660pt"})
        +colGroup(colsArray2)
        tbody
            tr(height=17 style={height:'12.75pt'})
                td.xl-86.text-center(colspan=7  height=17 width=479 style="border-right:.5pt solid black; height:12.75pt; width:360pt")
                    font.font-8 GASTOS DE OPERACIÓN
                td.xl-72(width=68 style="border-left:none; width:51pt")
                td.xl-89(colspan=4 height=17 width=332 style="border:.5pt solid black; border-left:none; width:249pt")
                    font.font-8 ENERO
            tr(height=18 style={height:'13.5pt'})
                td.xl-86.text-center(colspan=5 height=18 width=353 style="border-right:.5pt solid black; height:13.5pt; width:265pt")
                    font.font-8 SUBCUENTAS
                td.xl-92(rowspan=3 width=57 style="border-bottom:.5pt solid black; border-top:none; width:43pt")
                    font.font-8 TOTAL A DEDUCIR DE LA BASE IMPONIBLE
                td.xl-73.text-center(width=69 style="border-top:none;border-left:none;width:52pt")
                    font.font-8 SUBCUENTAS
                td.xl-83.text-center(rowspan=3 width=68 style="border-bottom:.5pt solid black; border-top:none; padding-left: 1px; width:51pt")
                    font.font-8 TOTAL GASTOS DE OPERACIÓN
                td.xl-95(colspan=2 rowspan=2 width=128 style="border-right:.5pt solid black; border-bottom:.5pt solid black; width:96pt")
                    font.font-8 CREDITOS
                td.xl-99(rowspan=3 width=79 style="border-bottom:.5pt solid black; border-top:none; width:59pt")
                    font.font-8 TOTAL PAGADO
                td.xl-102(rowspan=3 width=125 style="border-bottom:.5pt solid black; border-top:none;width:94pt")
                    font.font-8 DETALLE
            tr(height=17 style={height:'12.75pt'})
                td.xl-105(colspan=5 height=17 width=353 style="border-right:.5pt solid black; height:12.75pt; width:265pt")
                    font.font-8 DEDUCIBLES DIRECTAMENTE DE LA BASE IMPONIBLE
                td.xl-72(width=69 style="border-top:none;border-left:none; width:52pt")
            tr(height=152 style={height:'114.0pt'})
                td.xl-66(height=152 width=68 style="height:114.0pt;border-top:none; width:51pt")
                    font.font-8 Dia
                td.xl-74(width=80 style="border-top:none;border-left:none;width:60pt")
                    font.font-8 Pagos por arrendamiento de bienes a entidades estatales
                td.xl-75(width=68 style="border-top:none;border-left:none;width:51pt")
                td.xl-75(width=69 style="border-top:none;border-left:none;width:52pt")
                td.xl-75(width=68 style="border-top:none;border-left:none;width:51pt")
                td.xl-76(width=69 style="border-top:none;border-left:none;width:52pt")
                    font.font-8 EGRESOS NO INCLUIDOS A EFECTOS DE IMPUESTOS AUTORIZADOS POR EL MFP
                td.xl-74(width=59 style="border-top:none;border-left:none; vertical-align: middle; width:44pt")
                    font.font-8 EFECTIVO EN CAJA
                td.xl-74(width=69 style="border-top:none;border-left:none; vertical-align: middle; width:52pt")
                    font.font-8 EFECTIVO EN BANCO
            tr(height=17 style={height:'12.75pt'})
                +enumerate(colsArray2,15)
            +setData(dataMatrix2)