svg(x="0px" y="0px" alt="Logo ONAT" width=66 height=54 style="aspect-ratio: 16/9;" viewBox="0 0 79 79")
    path(
        fill="#FFFFFF" 
        opacity="1.000000" 
        stroke="none" 
        d="M58.000290,80.000000 C38.666901,80.000000 19.833576,80.000000 1.000189,80.000000 C1.000126,53.666763 1.000126,27.333527 1.000063,1.000217 C27.333223,1.000145 53.666447,1.000145 79.999756,1.000072 C79.999832,27.333212 79.999832,53.666424 79.999916,79.999817 C72.833450,80.000000 65.666901,80.000000 58.000290,80.000000 M15.500970,42.001602 C14.262877,44.162224 13.024786,46.322845 11.490981,48.999519 C20.324451,48.999519 28.299566,49.124626 36.263260,48.879173 C37.626850,48.837143 39.501427,47.519829 40.185860,46.269413 C43.905346,39.474117 47.343082,32.523830 50.824444,25.600060 C51.211655,24.829966 51.726978,23.592991 51.396175,23.073566 C47.045506,16.242167 42.553398,9.500840 37.834053,2.338264 C30.279072,15.818562 23.115080,28.601212 15.500970,42.001602 M61.049866,67.388870 C58.825222,62.850891 56.600578,58.312916 53.997887,53.003777 C49.966251,61.097485 46.409157,68.238533 42.682972,75.719040 C50.443016,75.719040 57.611393,75.719040 65.269997,75.719040 C63.881893,72.873131 62.695370,70.440514 61.049866,67.388870 M39.041527,76.942886 C39.361019,72.959877 39.793758,68.981773 39.966602,64.992409 C40.124207,61.354939 40.000000,57.705250 40.000000,54.060947 C39.386662,54.057938 38.773327,54.054932 38.159988,54.051922 C38.159988,60.195469 38.159988,66.339020 38.159988,73.551918 C33.497700,66.267853 31.156143,59.100391 25.674347,53.168476 C25.674347,61.907459 25.674347,69.430267 25.674347,76.953072 C26.094133,76.942017 26.513918,76.930969 26.933704,76.919922 C26.933704,70.794571 26.933704,64.669212 26.933704,57.884853 C31.009375,64.682007 34.626152,70.713852 39.041527,76.942886 M19.968702,57.757229 C15.658640,53.146976 10.898954,52.592953 7.237953,56.275391 C4.106475,59.425201 3.116705,66.040855 4.813055,70.435600 C6.287843,74.256340 8.425672,76.920006 12.880185,77.016144 C17.386908,77.113426 19.667933,74.469063 21.094427,70.653275 C22.661467,66.461525 22.752991,62.395306 19.968702,57.757229 M63.878876,54.003540 C63.237679,54.217621 62.596478,54.431702 61.955280,54.645782 C61.980900,54.966568 62.006519,55.287354 62.032143,55.608139 C63.967018,55.847652 65.901894,56.087166 68.614822,56.422993 C68.614822,63.407528 68.614822,70.183556 68.614822,76.959579 C69.054199,76.941826 69.493576,76.924065 69.932953,76.906311 C69.932953,70.037788 69.932953,63.169273 69.932953,56.389854 C72.296753,56.030670 74.167107,55.746468 76.037453,55.462261 C75.989540,54.974949 75.941620,54.487637 75.893700,54.000324 C72.195129,54.000324 68.496559,54.000324 63.878876,54.003540 z"
        )
    path(
        fill="#FF0000" 
        opacity="1.000000" 
        stroke="none" 
        d="M15.726030,41.692734 C23.115080,28.601212 30.279072,15.818562 37.834053,2.338264 C42.553398,9.500840 47.045506,16.242167 51.396175,23.073566 C51.726978,23.592991 51.211655,24.829966 50.824444,25.600060 C47.343082,32.523830 43.905346,39.474117 40.185860,46.269413 C39.501427,47.519829 37.626850,48.837143 36.263260,48.879173 C28.299566,49.124626 20.324451,48.999519 11.490981,48.999519 C13.024786,46.322845 14.262877,44.162224 15.726030,41.692734 z"
        )
    path(
        fill="#FF0000" 
        opacity="1.000000" 
        stroke="none" 
        d="M61.279358,67.698380 C62.695370,70.440514 63.881893,72.873131 65.269997,75.719040 C57.611393,75.719040 50.443016,75.719040 42.682972,75.719040 C46.409157,68.238533 49.966251,61.097485 53.997887,53.003777 C56.600578,58.312916 58.825222,62.850891 61.279358,67.698380 z"
        )
    path(
        fill="#000080" 
        opacity="1.000000" 
        stroke="none" 
        d="M38.642227,76.844292 C34.626152,70.713852 31.009375,64.682007 26.933704,57.884853 C26.933704,64.669212 26.933704,70.794571 26.933704,76.919922 C26.513918,76.930969 26.094133,76.942017 25.674347,76.953072 C25.674347,69.430267 25.674347,61.907459 25.674347,53.168476 C31.156143,59.100391 33.497700,66.267853 38.159988,73.551918 C38.159988,66.339020 38.159988,60.195469 38.159988,54.051922 C38.773327,54.054932 39.386662,54.057938 40.000000,54.060947 C40.000000,57.705250 40.124207,61.354939 39.966602,64.992409 C39.793758,68.981773 39.361019,72.959877 38.642227,76.844292 z"
        )
    path(
        fill="#000080" 
        opacity="1.000000" 
        stroke="none" 
        d="M20.028152,58.157196 C22.752991,62.395306 22.661467,66.461525 21.094427,70.653275 C19.667933,74.469063 17.386908,77.113426 12.880185,77.016144 C8.425672,76.920006 6.287843,74.256340 4.813055,70.435600 C3.116705,66.040855 4.106475,59.425201 7.237953,56.275391 C10.898954,52.592953 15.658640,53.146976 20.028152,58.157196 M19.008825,60.769741 C17.012775,59.181160 15.004523,56.330914 13.024021,56.350075 C10.940583,56.370224 7.860908,58.740112 7.066305,60.797634 C6.000975,63.556164 5.851573,67.346512 6.933521,70.041687 C7.799150,72.197998 11.284056,74.872040 13.253559,74.614761 C15.660428,74.300339 18.484419,71.543999 19.650345,69.129944 C20.600367,67.162918 19.375834,64.145645 19.008825,60.769741 z"
        )
    path(
        fill="#000080" 
        opacity="1.000000" 
        stroke="none" 
        d="M64.338432,54.001930 C68.496559,54.000324 72.195129,54.000324 75.893700,54.000324 C75.941620,54.487637 75.989540,54.974949 76.037453,55.462261 C74.167107,55.746468 72.296753,56.030670 69.932953,56.389854 C69.932953,63.169273 69.932953,70.037788 69.932953,76.906311 C69.493576,76.924065 69.054199,76.941826 68.614822,76.959579 C68.614822,70.183556 68.614822,63.407528 68.614822,56.422993 C65.901894,56.087166 63.967018,55.847652 62.032143,55.608139 C62.006519,55.287354 61.980900,54.966568 61.955280,54.645782 C62.596478,54.431702 63.237679,54.217621 64.338432,54.001930 z"
        )
    path(
        fill="#FFFFFF" 
        opacity="1.000000" 
        stroke="none" 
        d="M19.062183,61.181904 C19.375834,64.145645 20.600367,67.162918 19.650345,69.129944 C18.484419,71.543999 15.660428,74.300339 13.253559,74.614761 C11.284056,74.872040 7.799150,72.197998 6.933521,70.041687 C5.851573,67.346512 6.000975,63.556164 7.066305,60.797634 C7.860908,58.740112 10.940583,56.370224 13.024021,56.350075 C15.004523,56.330914 17.012775,59.181160 19.062183,61.181904 z"
        )