extends ../../generic/tableBase

mixin setDataToSectionF(data=[], row=0, align="start")
    each val, index in data
        tr(height=25 style={height:'14.95pt'})
            td.xl-65(width=77 colspan=6 style=`border-top:none;border-left:none;width:58pt;text-align:${align};vertical-align: bottom;`) 
                font.font-8= (val && val.concepto)
            td.xl-65(width=111 colspan=2 style=`border-right: .5pt solid black; width: 83pt;text-align: end;vertical-align: bottom;`)
                font(class=`${align === "start"?"font-8":"font-9"}`)= (val && val.import)
            td.xl-75(width=23 style="width:22pt;vertical-align: middle;")
                font.font-8= (index+row)

mixin setDataToSectionG(data=[], row=0)
    each val, index in data
        tr(height=25 style={height:'14.95pt'})
            td.xl-65(style="border-top:none;border-left:none;width:58pt;text-align: center;vertical-align: middle;") 
                font.font-8= (val && val.from)
            td.xl-65(style="border-top:none;border-left:none;width:58pt;text-align: center;vertical-align: middle;") 
                font.font-8= (val && val.to)
            td.xl-65(colspan=3 style="border-top:none;border-left:none;width:58pt;text-align: center;vertical-align: middle;") 
                font.font-8= (val && val.baseImponible)
            td.xl-65(colspan=2 style="border-top:none;border-left:none;width:58pt;text-align: center;vertical-align: middle;") 
                font.font-8= (val && val.porcentageType)
            td.xl-65(style=`border-right: .5pt solid black; width: 83pt;text-align: end;vertical-align: middle;`)
                font.font-9= (val && val.import)
            td.xl-75(width=23 style="width:22pt;vertical-align: middle;")
                font.font-8= (index+row)

mixin setDataToSectionH(data=[], row=0)
    each val, index in data
        tr(height=25 style={height:'15.95pt'})
            td.xl-65(colspan=3 style="border-top:none;border-left:none;width:58pt;text-align: center;vertical-align: middle;") 
                font.font-8= (val && val.enterprise)
            td.xl-65(style="border-top:none;border-left:none;width:58pt;text-align: center;vertical-align: middle;") 
                font.font-8= (val && val.valueHire)
            td.xl-65(colspan=2 style="border-top:none;border-left:none;width:58pt;text-align: center;vertical-align: middle;") 
                font.font-8= (val && val.porcentage)
            td.xl-65(colspan=2 style=`border-right: .5pt solid black; width: 83pt;text-align: end;vertical-align: middle;`)
                font.font-9= (val && val.import)
            td.xl-75(width=23 style="width:22pt;vertical-align: middle;")
                font.font-8= (index+row)

block column
    -colsArray=[{width:23, style:{width: '17pt'}}, {width:78, style:{width: '58pt'}}, {width:78, style:{width: '58pt'}}, {width:78, style:{width: '58pt'}}, {width:97, style:{width: '73pt'}}, {width:208, style:{width: '152pt'}}, {width:51, style:{width: '38pt'}}, {width:73, style:{width: '55pt'}}, {width:32, style:{width: '24pt'}}, {width:111, style:{width: '71pt'}}, {width:32, style:{width: '24pt'}}]
    +colGroup(colsArray)

block tBodyContent
    tr(height=25 style="height:14.95pt;border-top: 2pt solid black;")
        td.xl-78(width=23 rowspan=rowsSectionF+1 style="width: 20pt;vertical-align: middle;")
            font.font-8.vertical-text Sección F
        td.xl-75(width=50 rowspan=rowsSectionF+1 style="border-right:.5pt solid black; border-left:none; border-bottom:none; width:38pt;vertical-align: middle;")
            div(style="display: flex; align-items: center; justify-content: center; padding: 2pt 0;")
                font.font-8.vertical-text Total de Tributos Pagados Asociados 
                font.font-8.vertical-text a la Actividad
        td.xl-65(width=77 colspan=6 style="border-top:none;border-left:none;width:58pt;") 
        +celEnumerate(116,87,"Importe Total pagado",19,2,2)
        td.xl-75(width=23 rowspan=2 style="width:22pt;vertical-align: bottom;")
            font.font-8 Fila
    tr(height=25 style={height:"14.95pt"})
        td.xl-65(width=609 colspan=6 style="border-top:none;border-left:none;width:456pt;text-align: center;vertical-align: middle;") 
            font.font-9(style="font-size: 10pt;") Nombre del Tributo
    +setDataToSectionF(dataSectionF, 37)
    +setDataToSectionF(totalSectionF, 44, "end")
    tr(style="border-bottom: 2pt solid black;")
    
    tr(height=20 style="height: 10pt; border-left: 2pt solid white; border-right: 2pt solid white;")
    
    tr(height=24 style="height:14.0pt;border-top: 2pt solid black;")
        td.xl-78(width=23 rowspan=rowsSectionG+4 style="width: 20pt;vertical-align: middle;")
            font.font-8.vertical-text Sección G
        td.xl-75(width=50 rowspan=rowsSectionG+4 style="border-right:.5pt solid black; border-left:none; border-bottom:none; width:38pt;vertical-align: middle;")
            div(style="display: flex; align-items: center; justify-content: center; padding: 2pt 0;")
                font.font-8.vertical-text Determinacion del impuesto según  
                font.font-8.vertical-text escala progresiva aplicada a la 
                font.font-8.vertical-text base imponible
        td.xl-65(width=609 colspan=9 style="border-top:none;border-left:none;width:456pt;text-align: center;vertical-align: middle;") 
            font.font-9(style="font-size: 10pt;") Escala progresiva ingresos personales – TCP PESOS – CUP
    tr(height=24 style={height:"14.0pt"})
        td.xl-65(width=152 height=24 colspan=2 style="border-top:none;border-left:none;height:14.0pt;width:113pt;")
            font.font-8 Ingresos Netos Anuales
        +celEnumerate(116,87,"Base Imponible",21,3,2)
        td.xl-75(width=101 colspan=2 rowspan=2 style="width:76pt;vertical-align: middle;")
            font.font-8(style="width: 75pt;display: block;") Tipo Impositivo %
        +celEnumerate(116,87,"Importe",22,1,2)
        td.xl-75(width=23 rowspan=2 style="width:22pt;vertical-align: bottom;")
            font.font-8 Fila
    tr(height=35 style={height:"26.25pt"})
        td.xl-65(height=35 style="border-top:none;border-left:none;height:26.25pt;text-align: center;vertical-align: middle;")
            font.font-8 Exceso de
        +celEnumerate(116,87,"Hasta",20)
    +setDataToSectionG(dataSectionG, startRowSectionG)
    tr(height=25 style={height:'14.95pt'})
        td.xl-65(colspan=2 style="border-top:none;border-left:none;width:58pt;text-align: end;vertical-align: middle;") 
            font.font-8 Total
        td.xl-65(colspan=3 style="border-top:none;border-left:none;width:58pt;text-align: center;vertical-align: middle;") 
            font.font-8= (totalSectionG && totalSectionG.baseImponible)
        td.xl-65(colspan=2 style="background: silver;border-top:none;border-left:none;width:58pt;text-align: center;vertical-align: middle;") 
        td.xl-65(style=`border-right: .5pt solid black; width: 83pt;text-align: end;vertical-align: middle;`)
            font.font-9= (totalSectionG && totalSectionG.import)
        td.xl-75(width=23 style="width:22pt;vertical-align: middle;")
            font.font-8= (startRowSectionG+rowsSectionG)
    tr(style="border-bottom: 2pt solid black;")
    tr(height=20 style="height: 10pt; border-left: 2pt solid white; border-right: 2pt solid white;")
    tr(height=24 style="height:14.0pt;border-top: 2pt solid black;")
        td.xl-78(width=23 rowspan=(rowsSectionH+6) style="width: 20pt;vertical-align: middle;")
            font.font-8.vertical-text Sección H Sector de la Cultura
        td.xl-75(width=50 rowspan=rowsSectionH+3 style="border-right:.5pt solid black; border-left:none; border-bottom:none; width:38pt;vertical-align: middle;")
            div(style="display: flex; align-items: center; justify-content: center; padding: 2pt 0;")
                font.font-8.vertical-text Ingresos obtenidos por las empresas de cultura en 
                font.font-8.vertical-text el grado en que participan en la gestión del 
                font.font-8.vertical-text contrato y otros servicios
        +celEnumerate(249,186,"Empresa",23,3,2)
        +celEnumerate(208,156,"Valor del contrato de presentación o comercialización",24,1,2)
        +celEnumerate(249,186,"Participación en la gestión del contrato",25,4,1)
        td.xl-75(width=23 style="width:22pt;vertical-align: bottom;")
            font.font-8 Fila
    tr(height=25 style={height:"18.0pt"})
        td.xl-65(height=24 colspan=2 style="border-top:none;border-left:none;height:18.0pt;text-align: center;vertical-align: bottom;")
            font.font-8 Porciento
        td.xl-65(height=24 colspan=2 style="border-top:none;border-left:none;height:18.0pt;text-align: center;vertical-align: bottom;")
            font.font-8 Importe
        td.xl-75(width=23 style="width:22pt;vertical-align: middle;")
            font.font-8= (startRowSectionG+rowsSectionG+1)
    +setDataToSectionH(dataSectionH, startRowSectionH)
    tr(height=24 style={height:'14.0pt'})
        td.xl-65(colspan=3 style="border-top:none;border-left:none;width:58pt;text-align: end;vertical-align: middle;") 
            font.font-8 Total
        td.xl-65(style="border-top:none;border-left:none;width:58pt;text-align: center;vertical-align: middle;") 
            font.font-8= (totalSectionH && totalSectionH.valueHire)
        td.xl-65(colspan=2 style="background: silver;border-top:none;border-left:none;width:58pt;text-align: center;vertical-align: middle;") 
        td.xl-65(colspan=2 style=`border-right: .5pt solid black; width: 83pt;text-align: end;vertical-align: middle;`)
            font.font-9= (totalSectionH && totalSectionH.import)
        td.xl-75(width=23 style="width:22pt;vertical-align: middle;")
            font.font-8= (startRowSectionH+rowsSectionH)
    tr(height=24 style={height:"14.0pt"})
        td.xl-65(width=609 colspan=9 style="background: silver;border-left:none;width:456pt;text-align: center;vertical-align: middle;") 
            font.font-9(style="font-size: 10pt;") DECLARACIÓN JURADA CONJUNTA
    tr(height=35 style={height:"26.25pt"})
        +celEnumerate(116,87,"NOMBRE DE LA AGRUPACIÓN MUSICAL O COMPAÑÍA ARTÍSTICA",26,5)
        +celEnumerate(116,87,"CANTIDAD DE INTEGRANTES",27,4)
        td.xl-75(width=23 style="width:22pt;vertical-align: bottom;")
            font.font-8 Fila
    tr(height=24 style={height:"14.0pt"})
        td.xl-65(width=609 colspan=5 style="border-top:none;border-left:none;width:456pt;text-align: center;vertical-align: middle;") 
            font.font-9(style="font-size: 10pt;")= musicalGroup && musicalGroup.description
        td.xl-65(colspan=4 style=`border-right: .5pt solid black; width: 83pt;text-align: center;vertical-align: middle;`)
            font.font-8=musicalGroup && musicalGroup.number_members
        td.xl-75(width=23 style="width:22pt;vertical-align: middle;")
            font.font-8= (startRowSectionH+rowsSectionH+1)
    tr(style="border-bottom: 2pt solid black;")