include ./mixins

-const txt_r="text-align: right"
-const font7="font-weight: 700;font-style: normal;text-decoration: underline;"
-const font11="font-size: 11.0pt;font-style: normal;font-family: Calibri, sans-serif;"
-const row20={height:20, style:"height:15.0pt"}
-const xl70 = "font-weight: 700;text-align: left;border: 1.5pt solid;"
-const txt_b="font-weight: 700;"
-const txt_ac="text-align: center;"
-const txt_unl=txt_b+"font-style: normal;text-decoration: underline;"
-const txt_ac_b=txt_b+txt_ac
-const p_r="padding-right: 1pt;"
-const p_l="padding-left: 1.5pt;"

table(
    border="0" 
    cellpadding="0" 
    cellspacing="0" 
    width="672" 
    style="border-collapse:collapse;table-layout:fixed;width:504pt;margin:72px 68px;"
   )
    block column
    tbody(style=font11)
        block tHeadContent
        block tBodyContent