extends ../../generic/tableBase

mixin setDataToSectionA(data=[])
    each val, index in data
        tr(height=30 style={height:'20.9pt'})
            td.xl-65(width=397 style="border-right: .5pt solid black;width:296pt;vertical-align: middle;")
                font.font-12(style="display: block; text-align: start")= val.activity
            td.xl-65(style="border-top:none;border-left:none;width:155pt;vertical-align: middle;")
                font.font-12(style="display: block; text-align: center")= val.period.start[0]
            td.xl-65(style="border-top:none;border-left:none;width:155pt;vertical-align: middle;")
                font.font-12(style="display: block; text-align: center")= val.period.start[1]
            td.xl-65(style="border-top:none;border-left:none;width:55pt;vertical-align: middle;")
                font.font-12(style="display: block; text-align: center")= val.period.end[0]
            td.xl-65(style="border-top:none;border-left:none;width:55pt; vertical-align: middle;")
                font.font-12(style="display: block; text-align: center")= val.period.end[1]
            td.xl-65(style="border-top:none;border-left:none;width:58pt;vertical-align: middle;")
                font.font-9(style="display: block; text-align: end")= val.income
            td.xl-65(colspan=2 style="border-top:none;border-left:none;width:58pt;vertical-align: middle;")
                font.font-9(style="display: block; text-align: end")= val.expense
            td.xl-75(style="width:22pt;vertical-align: middle;")
                font.font-8= (index+1)
    else
        tr(height=25 style={height:'14.95pt'})
            td There are no values

mixin setSections(sectionName="",sectionDescription="",dataSection=[],rowNumber=1, c=0)
    -const rows = dataSection.length+1
    tr(height=20 style="height: 10pt; border-left: 2pt solid white; border-right: 2pt solid white;")
    tr(height=25 style="height:14.95pt;border-top: 2pt solid black;")
        td.xl-78(width=23 rowspan=rows style="width: 20pt;vertical-align: middle;")
            font.font-12.vertical-text= sectionName
        td.xl-75(width=50 rowspan=rows style="border-right:.5pt solid black; border-left:none; border-bottom:none; width:38pt;vertical-align: middle;")
            font.font-12.vertical-text= sectionDescription
        td.xl-65(width=77 colspan=7 style="border-top:none;border-left:none;width:58pt;vertical-align: bottom;") 
            font.font-12 Concepto
        td.xl-65(width=100 style=`display: flex;border: none; width: 80pt`)
            font.font-10= c
            font.font-11 Importe
        td.xl-75(width=23 style="width:22pt;vertical-align: bottom;")
            font.font-12 Fila
    +setDataToSections(dataSection, rowNumber)
    tr(style="border-bottom: 2pt solid black;")

mixin setDataToSections(data=[], row=0)
    each val, index in data
        tr(height=25 style={height:'14.95pt'})
                td.xl-65(width=77 colspan=7 style="border-top:none;border-left:none;width:58pt;vertical-align: bottom;") 
                    font.font-12= val.concepto
                td.xl-65(width=111 style=`border-right: .5pt solid black; width: 83pt;text-align: end;vertical-align: bottom;`)
                    font.font-9= val.import
                td.xl-75(width=23 style="width:22pt;vertical-align: middle;")
                    font.font-8= (index+row)

block column
    -colsArray=[{width:23, style:{width: '17pt'}}, {width:50, style:{width: '38pt'}}, {width:328, style:{width: '245pt'}}, {width:27, style:{width: '20pt'}}, {width:30, style:{width: '23pt'}}, {width:32, style:{width: '24pt'}}, {width:35, style:{width: '26pt'}}, {width:132, style:{width: '99pt'}}, {width:37, style:{width: '28pt'}}, {width:111, style:{width: '83pt'}}, {width:32, style:{width: '24pt'}}]
    +colGroup(colsArray)

block tHeadContent
    tr(height=58 style={height:'44.1pt'})
        td.xl-78(width=23 rowspan=12 style="width: 20pt;vertical-align: middle;")
            font.font-12.vertical-text Sección A
        td.xl-75(width=50 rowspan=12 style="border-right:.5pt solid black; border-left:none; border-bottom:none; width:38pt;vertical-align: middle;")
            font.font-12.vertical-text Ingresos Obtenidos y Gastos  Deducibles por actividad
        +celEnumerate(397, 296, "Actividades Concepto", 10)
        +celEnumerate(397, 296, "Período que se liquida", 11, 4)
        +celEnumerate(397, 296, "Ingresos   Obtenidos", 12)
        +celEnumerate(397, 296, "Gastos Deducibles   de la actividad", 13, 2)
        td.xl-75(width=23 rowspan=2 style="width:22pt")
            font.font-12(style="display: flex; justify-content: center; align-items: center; height: 60.5pt;") Fila
    tr(height=25 style={height:'14.95pt'})
        td.xl-65(width=397 style="border-right: .5pt solid black;width:296pt;vertical-align: bottom;")
            font.font-12(style="display: block; text-align: center;") Código - Nombre
        td.xl-65(width=206 colspan=2 style="border-top:none;border-left:none;width:155pt;vertical-align: bottom;")
            font.font-12(style="display: block; text-align: center;") Desde
        td.xl-65(width=73 colspan=2 style="border-top:none;border-left:none;width:55pt;vertical-align: bottom;")
            font.font-12(style="display: block; text-align: center;") Hasta
        td.xl-65(width=77 style="border-top:none;border-left:none;width:58pt;vertical-align: bottom;")
            font.font-12(style="display: block; text-align: center;") Importe
        td.xl-65(width=77 colspan=2 style="border-top:none;border-left:none;width:58pt;vertical-align: bottom;")
            font.font-12(style="display: block; text-align: center;") Importe


block tBodyContent
    +setDataToSectionA(dataSectionA)
    tr(height=25 style="height:14.95pt;border-bottom: 2pt solid black;")
        td.xl-78(width=521 colspan=5 style="width: 389pt; text-align: end;")
            font.font-9 Total
        td.xl-65(width=77 style="border-top:none;border-left:none;width:58pt;text-align: end;vertical-align: bottom;")
            font.font-9= (totalSectionA && totalSectionA.incomes)
        td.xl-65(width=77 colspan=2 style="border-top:none;border-left:none;width:58pt;text-align: end;vertical-align: bottom;")
            font.font-9= (totalSectionA && totalSectionA.expenses)
        td.xl-75(width=23 style="width:22pt; vertical-align: middle;")
            font.font-12 10
    +setSections("Sección B","Determinación de la Base Imponible",dataSectionB,11,14)
    +setSections("Sección C","Determinación del impuesto a pagar",dataSectionC,21,15)
    +setSections("Sección D","Declaración Jurada Rectificada",dataSectionD,28,16)
    +setSections("Sección E","Total a Pagar",dataSectionE,32,17)