extends ../../generic/tableBase

mixin setDataToSectionI(data=[], row=0)
    each val, index in data
        tr(height=24 style={height:'14.0pt'})
            each valCode in val.code
                td.xl-65(style="border-top:none;border-left:none;width:58pt;text-align: center;vertical-align: middle;") 
                    font.font-12= valCode
            td.xl-65(colspan=2 style="border-top:none;border-left:none;width:58pt;text-align: center;vertical-align: middle;") 
                font.font-12= (val && val.fullName)
            each valFrom in val.from
                td.xl-65(style="border-top:none;border-left:none;width:58pt;text-align: center;vertical-align: middle;") 
                    font.font-12= valFrom
            each valTo in val.to
                td.xl-65(style="border-top:none;border-left:none;width:58pt;text-align: center;vertical-align: middle;") 
                    font.font-12= valTo
            td.xl-65(colspan=2 style="border-top:none;border-left:none;width:58pt;text-align: center;vertical-align: middle;") 
                font.font-12= (val && val.municipality)
            each valNIT in val.nit
                td.xl-65(style="border-top:none;border-left:none;width:58pt;text-align: center;vertical-align: middle;") 
                    font.font-12= valNIT
            td.xl-65(colspan=3 style=`border-right: .5pt solid black; width: 83pt;text-align: end;vertical-align: middle;`)
                font.font-9= (val && val.import)
            td.xl-75(width=23 style="width:22pt;vertical-align: middle;")
                font.font-8= (index+row)

block column
    -colsArray=[{width:23, style:{width: '17pt'}},{width:29, style:{width: '21pt'}},{width:25, style:{width: '21pt'}},{width:25, style:{width: '21pt'}},{width:25, style:{width: '21pt'}},{width:64, style:{width: '48pt'}}, {width:108, style:{width: '81pt'}},{width:25, style:{width: '22pt'}},{width:25, style:{width: '22pt'}},{width:25, style:{width: '22pt'}},{width:25, style:{width: '22pt'}},{width:79, style:{width: '59pt'}},{width:16, style:{width: '14pt'}},{width:15, style:{width: '13pt'}},{width:15, style:{width: '13pt'}},{width:15, style:{width: '13pt'}},{width:15, style:{width: '13pt'}},{width:15, style:{width: '13pt'}},{width:15, style:{width: '13pt'}},{width:15, style:{width: '13pt'}},{width:15, style:{width: '13pt'}},{width:15, style:{width: '13pt'}},{width:15, style:{width: '13pt'}},{width:15, style:{width: '13pt'}},{width:17, style:{width: '14pt'}},{width:52, style:{width: '39pt'}},{width:23, style:{width: '17pt'}},{width:32, style:{width: '24pt'}}]
    +colGroup(colsArray)

block tBodyContent
    tr(height=36 style="height:27.0pt;border-top: 2pt solid black;")
        td.xl-78(width=27 rowspan=rowsSectionI+4 style="width: 20pt;vertical-align: middle;")
            font.font-8.vertical-text Sección I
        td.xl-75(width=50 rowspan=rowsSectionI+4 style="border-right:.5pt solid black; border-left:none; border-bottom:none; width:38pt;vertical-align: middle;")
            font.font-8.vertical-text TRABAJADORES CONTRATADOS 
        td.xl-65(width=609 colspan=26 style="border-top:none;border-left:none;width:456pt;text-align: center;vertical-align: middle;") 
            font.font-9(style="font-size: 10pt;") Datos de los trabajadores contratados. (Los TCP sólo pueden tener hasta 3 trabajadores contratados)
    tr(height=33 style={height:"24.75pt"})
        +celEnumerate(72,54,"Código de la Actividad Titular",27,3,2)
        +celEnumerate(172,129,"Nombres y Apellidos",28,2,2)
        +celEnumerate(95,71,"Período",29,4)
        +celEnumerate(95,71,"Municipio de residencia",30,2,2)
        +celEnumerate(165,122,"NIT",31,11,2)
        +celEnumerate(92,69,"Importe anual salario pagado trabajador Contratado",32,3,2)
        td.xl-75(width=23 rowspan=2 style="width:22pt;vertical-align: middle;")
            font.font-8 Fila
    tr(height=35 style={height:"26.25pt"})
        td.xl-65(colspan=2 height=35 style="border-top:none;border-left:none;height:26.25pt;text-align: center;vertical-align: middle;")
            font.font-8 Desde
        td.xl-65(colspan=2 height=35 style="border-top:none;border-left:none;height:26.25pt;text-align: center;vertical-align: middle;")
            font.font-8 Hasta
    +setDataToSectionI(dataSectionI, startRowSectionI)
    tr(height=24 style={height:'14.0pt'})
        td.xl-65(colspan=22 style="border-top:none;border-left:none;width:58pt;text-align: end;vertical-align: middle;") 
            font.font-8 Total
        td.xl-65(colspan=3 style=`border-right: .5pt solid black; width: 83pt;text-align: end;vertical-align: middle;`)
            font.font-9= (totalSectionI && totalSectionI.import)
        td.xl-75(width=23 style="width:22pt;vertical-align: middle;")
            font.font-8= (startRowSectionI+rowsSectionI)
    tr(style="border-bottom: 2pt solid black;")

    tr(height=20 style="height: 10pt; border-left: 2pt solid white; border-right: 2pt solid white;")

    tr(height=152 style="height:114.2pt;border-top: 2pt solid black;")
        td.xl-65(width=609 colspan=28 style="border-top:none;border-left:none;width:456pt;") 
            font.font-9 OBSERVACIONES:
    tr(style="border-bottom: 2pt solid black;")
    tr(height=100 style="height:75.0pt;border-top: 2pt solid black;")
        td.xl-65(width=609 colspan=28 style="border-top:none;border-left:none;width:456pt;") 
            font.font-9(style="display: flex; text-align: justify; font-size: 9pt;")= `DECLARO BAJO JURAMENTO LA VERACIDAD DE LOS DATOS CONSIGNADOS EN LA PRESENTE, aceptando que: de detectarse por la Administración Tributaria el ocultamiento, la falsedad o la alteración de la información contenida en la misma, puedo ser sancionado, según lo previsto en el inciso j) del artículo 119, Capítulo VIII Del Régimen Sancionador, del Decreto No. 308 de fecha 31 de octubre de 2012, REGLAMENTO DE LAS NORMAS GENERALES Y DE LOS PROCEDIMIENTOS TRIBUTARIOS o puedo ser procesado, según lo establecido en materia de EVASIÓN FISCAL en el CÓDIGO PENAL.`
    tr(style="border-bottom: 2pt solid black;")

    tr(height=20 style="height: 10pt; border-left: 2pt solid white; border-right: 2pt solid white;")

    tr(height=21 style="height:16.35pt;border-top: 2pt solid black;")
        td.xl-65(width=65 colspan=3 style="border: 2pt solid black;width:49pt;text-align: center;vertical-align: middle;")
            font.font-9 Día
        td.xl-65(width=48 colspan=2 style="border: 2pt solid black;width:36pt;text-align: center;vertical-align: middle;")
            font.font-9 Mes
        td.xl-65(width=64 style="border: 2pt solid black;width:48pt;text-align: center;vertical-align: middle;")
            font.font-9 Año
        td.xl-65(width=587 colspan=22 style="border: 2pt solid black;width:438pt;text-align: center;vertical-align: middle;")
            font.font-9 Firma del Contribuyente
    tr(height=35 style="height:26.25pt;border: 2pt solid black;")
        td.xl-65(width=65 colspan=3 style="border: 2pt solid black;width:49pt;text-align: center;vertical-align: middle;")
            font.font-9= dateSigns.day
        td.xl-65(width=48 colspan=2 style="border: 2pt solid black;width:36pt;text-align: center;vertical-align: middle;")
            font.font-9= dateSigns.month
        td.xl-65(width=64 style="border: 2pt solid black;width:48pt;text-align: center;vertical-align: middle;")
            font.font-9= dateSigns.year
        td.xl-65(width=587 colspan=22 style="border: 2pt solid black;width:438pt;text-align: center;vertical-align: middle;")
    tr(height=69 style="height:52.35pt")
        td.xl-65(width=177 colspan=6 style="border:none;width:133pt;text-align: center;vertical-align: middle;border-left: 2pt solid white; border-top: 2pt solid black; border-right: 2pt solid black;")
        td.xl-65(width=177 colspan=22 style="width:133pt;text-align: center;vertical-align: middle;border: 2pt solid black;")

    tr(height=20 style="height: 10pt; border-left: 2pt solid white; border-right: 2pt solid white;")

    tr(height=21 style="height:16.35pt;border-top: 2pt solid black;")
        td.xl-65(width=65 colspan=28 style="border-top:none;border-left:none;width:49pt;text-align: center;vertical-align: middle;")
            font.font-9 PARA USO DE LA OFICINA NACIONAL DE ADMINISTRACIÓN TRIBUTARIA EN CASO DE SER NECESARIO:
    tr(height=21 style="height:16.35pt;border-top: 2pt solid black;")
        td.xl-65(width=65 colspan=8 style="border: 2pt solid black;width:49pt;text-align: center;vertical-align: middle;")
            font.font-9 Nombre (s) y apellidos funcionario ONAT
        td.xl-65(width=48 colspan=4 style="border: 2pt solid black;width:36pt;text-align: center;vertical-align: middle;")
            font.font-9 Cargo
        td.xl-65(width=64 colspan=10 style="border: 2pt solid black;width:48pt;text-align: center;vertical-align: middle;")
            font.font-9 Firma y Cuño
        td.xl-65(width=65 colspan=3 style="border: 2pt solid black;width:49pt;text-align: center;vertical-align: middle;")
            font.font-9 Día
        td.xl-65(width=48 style="border: 2pt solid black;width:36pt;text-align: center;vertical-align: middle;")
            font.font-9 Mes
        td.xl-65(width=64 colspan=2 style="border: 2pt solid black;width:48pt;text-align: center;vertical-align: middle;")
            font.font-9 Año
    tr(height=36 style="height:27.6pt;border-top: 2pt solid black;")
        td.xl-65(width=65 colspan=8 style="border: 2pt solid black;width:49pt;text-align: center;vertical-align: middle;")
        td.xl-65(width=48 colspan=4 style="border: 2pt solid black;width:36pt;text-align: center;vertical-align: middle;")
        td.xl-65(width=64 colspan=10 style="border: 2pt solid black;width:48pt;text-align: center;vertical-align: middle;")
        td.xl-65(width=65 colspan=3 style="border: 2pt solid black;width:49pt;text-align: center;vertical-align: middle;")
        td.xl-65(width=48 style="border: 2pt solid black;width:36pt;text-align: center;vertical-align: middle;")
        td.xl-65(width=64 colspan=2 style="border: 2pt solid black;width:48pt;text-align: center;vertical-align: middle;")