extends ../generic/tableAccountingBase

mixin setData(data=[])
    each val in data
        tr(height=row20.height style=row20.style)
            td(colspan=5 style=txt_r)=val.description                 	
            td(colspan=2 style=txt_r)=val.amount
            td
    else
        tr(height=row20.height style="height:120pt;")


block column
    col(width="80" span="9" style="width:60pt")
block tHeadContent
    tr(height=row20.height style=row20.style)
        td(colspan=6 width=480 style="width:360pt") CONTRIBUYENTE: 
            font(style=txt_unl)=fullName
        td(colspan=3 width=240 style="width:180pt") IMPRESO: 
            font(style="text-decoration: underline")=printedDate
    tr(height=row20.height style=row20.style)
        td(colspan=6 width=480 style="width:360pt") NIT: 
            font(style=txt_b)=nit
    tr(height=row20.height style=row20.style)
        td(colspan=8 style=txt_ac_b) ESTADO DE SITUACION 
    tr(height=row20.height style=row20.style)
        td(colspan=8 style=txt_ac) FECHA DE EMISION: 
            font(style=txt_b)=emissionDate
    tr(height=row20.height style=row20.style)

block tBodyContent
    tr(height=row20.height style=row20.style)
        td(colspan=8 style=txt_b) ACTIVO
    tr(height=row20.height style=row20.style)
        td(colspan=7) ACTIVO CIRCULANTE
        td(style=txt_r)=asset.activo
    tr(height=row20.height style=row20.style)
        td(colspan=5 style=txt_r) Efectivo en caja    
        td(colspan=2 style=txt_r)=asset.caja
        td
    tr(height=row20.height style=row20.style)
        td(colspan=5 style=txt_r) Efectivo en banco
        td(colspan=2 style=txt_r)=asset.banco
        td
    tr(height=row20.height style=row20.style)
        td(colspan=5)
        td(colspan=2)
        +signatureLine({})
    tr(height=row20.height style=row20.style)
        td(colspan=7 style=txt_ac_b) TOTAL DE ACTIVO
        td(style=txt_r)=asset.total
    tr(height=row20.height style=row20.style)
        td(colspan=8)
    tr(height=row20.height style=row20.style)
        td(colspan=8 style=txt_b) PASIVO
    tr(height=row20.height style=row20.style)
        td(colspan=7) PASIVO CIRCULANTE
        td(style=txt_r)=passive.pasivo
    tr(height=row20.height style=row20.style)
        td(colspan=5 style=txt_r) Prestamos recibidos a corto plazo
        td(colspan=2 style=txt_r)=passive.lendsShortTerm
        td
    tr(height=row20.height style=row20.style)
        td(colspan=7) PASIVO A LARGO PLAZO
        td(style=txt_r)=passive.longTerm
    tr(height=row20.height style=row20.style)
        td(colspan=5 style=txt_r) Prestamos recibidos a largo plazo 	
        td(colspan=2 style=txt_r)=passive.lendsLongTerm
        td
    tr(height=row20.height style=row20.style)
        td(colspan=5)
        td(colspan=2)
        +signatureLine({})
    tr(height=row20.height style=row20.style)
        td(colspan=7 style=txt_ac_b) TOTAL DE PASIVO
        td(style=txt_r)=passive.total
    tr(height=row20.height style=row20.style)
        td(colspan=8)
    tr(height=row20.height style=row20.style)
        td(colspan=8 style=txt_b) PATRIMONIO NETO
    tr(height=row20.height style=row20.style)
        td(colspan=5) SALDO DEL PATRIMONIO DEL TCP AL INICIO
        td(colspan=2 style=txt_r)=patrimony.initSaldo
        td
    +setData(patrimony.patrimonio)
    tr(height=row20.height style=row20.style)
        td(colspan=7) TOTAL DE PATRIMONIO NETO
        td(style=txt_r)=patrimony.total
    tr(height=row20.height style=row20.style)
        td(colspan=5)
        td(colspan=2)
        +signatureLine({})
    tr(height=row20.height style=row20.style)
        td(colspan=7 style=txt_ac_b) TOTAL PASIVO + PATRIMONIO
        td(style=txt_r)=total
    tr(height=row20.height style=row20.style)
    tr(height=row20.height style=row20.style)
    tr(height=row20.height style=row20.style)
        +signatureLine({colspan:4, rowspan:3, height:65, style:"height:48.75pt;"})
        td(rowspan=7)
        +signatureLine({colspan:3, rowspan:3})
    tr(height=row20.height style=row20.style)
    tr(height=row20.height style=row20.style)
    tr(height=row20.height style=row20.style)
        td(colspan=4 style=txt_ac) CONFECCIONADO POR:
        td(colspan=3 style=txt_ac) APROBADO POR:
    tr(height=row20.height style=row20.style)
        td(colspan=4) Nombre:
        td(colspan=4) Nombre: 
            font(style=txt_b)=fullName
    tr(height=row20.height style=row20.style)
        td(colspan=4) Fecha:
        td(colspan=4) Fecha:
    tr(height=row20.height style=row20.style)
        td(colspan=4) Cargo:
        td(colspan=4) Cargo: TITULAR
    tr(height=row20.height style=row20.style)
